.App { 
  text-align: center;
}
body { 
  background-image: url("https://t4.ftcdn.net/jpg/03/72/01/93/360_F_372019308_RP23W1jNhafm3oLxvaQMRyLMCobkVokn.jpg");
}

/* Nav section */

nav{ 
  font-family: 'Yesteryear', cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(225, 163, 240, 0.76);
  color: white;
}


.nav-links { 
  width: 50%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 20px;
}

.nav-links a { 
  text-decoration: none;
}

nav a { 
  text-decoration: none;
}

/* Home section */

.home-link { 
  font-size: 30px;
}

#home-image { 
  margin-top: 20px;
  width: 40vw;
}


/* Shop section */

.shop { 
  display: flex;
  justify-content: center;
}
.card-holder { 
  font-family: 'Limelight', cursive;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 900px;
  flex-wrap: wrap;


}

.item-card { 
  display: flex;
  width: 250px;
  height: 350px;
  justify-content: center;
  background-color: white;
  margin-top: 30px;
  border-radius: 10px;
}